# vim: syntax=muttrc
set mbox_type = Maildir
set ssl_starttls = yes
set ssl_force_tls = yes

set folder = "~/mail/twode"
set spoolfile = "+INBOX"
set record = "+Gesendete Elemente"
set postponed = "+Entw&APw-rfe"
set trash = "+Gel&APY-schte Elemente"

unmailboxes *
mailboxes "=1&1-IONOS" "=-------------------------" "=INBOX" "=Gesendete Elemente" "=Entw&APw-rfe" "=Gel&APY-schte Elemente" "=rocket-chat" "=jira-hosting" "=jira-run" "=tips-and-tricks" "=mini-buildd" "=holiday-and-illness"

## SMTP
set from = "gerhard.dittes@ionos.com"
set realname = "Gerhard A. Dittes"
