# vim: syntax=muttrc
set mbox_type = Maildir
set ssl_starttls = yes
set ssl_force_tls = yes

set folder = "~/mail/webde"
set spoolfile = "+INBOX"
set record = "+Gesendet"
set postponed = "+Entwurf"
set trash = "+Papierkorb"

unmailboxes *
mailboxes =web.de =------------------------- "=INBOX" "=Gesendet" "=Entwurf" "=Papierkorb" "=tips-and-tricks" "=debian" "=kde" "=order-stuff" "=bills"

## SMTP
set from = "g-a-d@web.de"
set realname = "Gerhard A. Dittes"
